chat-app.website {
    redir https://www.chat-app.website{uri} permanent
}

www.chat-app.website {
    reverse_proxy go-app-frontend:80
}

api.chat-app.website {
    reverse_proxy go-app-backend:8080
}